/**{*/
/*    box-sizing: border-box;*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    background-color:whitesmoke;*/

/*}*/


/*div{*/
/*    width: 100%;*/
/*    height:100%;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*}*/

/*button{*/
/*    padding: 12px 20px;*/
/*    background-color: dimgrey;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*    outline: none;*/
/*    border-radius: 5px;*/
/*}*/

/*.main_div{*/
/*    width: 100%;*/
/*    height: 100vh;*/
/*    background : #6982aa;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    justify-content: center;*/
/*    justify-items: center;*/
/*    text-align: center;*/
/*}*/

/*.center_div{*/
/*    width: 25%;*/
/*    height: 80vh;*/
/*    background-color: #f4f4f4;*/
/*    box-shadow: 5px 5px 25px -5px rgba(0,0,0,0.5);*/
/*    border-radius: 15px;*/
/*}*/

/*h1{*/
/*    color: white;*/
/*    background: transparent;*/
/*    background-color: #8566aa;*/
/*    padding: 6px 0 2px 0;*/
/*    margin-bottom: 10px;*/
/*    box-shadow: 5px 5px 15px -5px rgba(0,0,0,0.3);*/
/*}*/

/*input{*/
/*    text-align: center;*/
/*    margin-top: 10px;*/
/*    height: 30px;*/
/*    top: 10px;*/
/*    border: none;*/
/*    background: transparent;*/
/*    font-size: 20px;*/
/*    font-weight: 500;*/
/*    width: 60%;*/
/*    border-bottom: 2px solid #6982aa;*/
/*    outline: none;*/
/*}*/

/*!*button {*!*/
/*!*    margin-top: 30px;*!*/
/*!*    min-height: 40px;*!*/
/*!*    width: 100px;*!*/
/*!*    border-radius: 50%;*!*/
/*!*    border-color: #8566aa;*!*/
/*!*    color: white;*!*/
/*!*    font-size: 40px;*!*/
/*!*    border: none;*!*/
/*!*    outline: none;*!*/
/*!*    margin-left: 10px;*!*/
/*!*    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);*!*/
/*!*}*!*/

/*button:hover{*/
/*    background-color: green;*/
/*}*/

/*ol{*/
/*    margin-top: 30px;*/
/*}*/


/*ol li{*/
/*    padding-left: 0px;*/
/*    text-align: left;*/
/*    font-size: 20px;*/
/*    font-weight: 500;*/
/*    min-height: 40px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    color: #8566aa;*/
/*    text-transform: capitalize;*/
/*}*/




/*For crud*/

.not-found{
    position: fixed;
    top: 0;
    width:100vw;
    height:100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}